.Learning__Flashcard {
  border: solid 1px black;
  background-image: linear-gradient(
    180deg,
    #41704c 1.61%,
    #fffade 1.61%,
    #fffade 50%,
    #41704c 50%,
    #41704c 51.61%,
    #fffade 51.61%,
    #fffade 100%
  );
  background-size: 62px 62px;
  box-shadow: 5px 5px 5px #888888;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  width: 100vw;
}

.Learning__Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Learning__guess-input {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.8em;
  font-size: 16px;
  padding: 16px;
  margin: 20px;
}
.Learning__Total {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-decoration: double underline;
}

.green-text {
  color: #41704c;
}

.red-text {
  color: #ce253c;
}

@media (min-width: 768px) {
  .Learning__Flashcard {
    width: 70vw;
    /* height: 30vh; */
  }
}

@media (min-width: 1440px) {
  .Learning__Flashcard {
    width: 50vw;
    /* height: 30vh; */
  }
}
