/* .Learning__Flashcard {
  border: solid 1px black; add shadow
  padding: 80px;
  background-image: linear-gradient(
    180deg,
    #41704c 1.61%,
    #fffade 1.61%,
    #fffade 50%,
    #41704c 50%,
    #41704c 51.61%,
    #fffade 51.61%,
    #fffade 100%
  );
  background-size: 62px 62px;
  font-family: "Permanent Marker", cursive;
} */

.Learning__Flashcard {
  background-image: linear-gradient(90deg, white, #41704c, white);
  background-size: 300%;
  animation: flag 1s ease-out;
  animation-iteration-count: initial;
}
.Learning__Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.handwriting {
  background-image: linear-gradient(
    180deg,
    #41704c 1.61%,
    #fffade 1.61%,
    #fffade 50%,
    #41704c 50%,
    #41704c 51.61%,
    #fffade 51.61%,
    #fffade 100%
  );
  background-size: 62px 62px;
  padding: 100px;
  text-align: center;
  letter-spacing: 1.4em;
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  color: #41704c;
  opacity: 100%;
  /* animation: show 1s ease-out; */
  /* animation-delay: 2s; */
  animation-iteration-count: initial;
  z-index: 20;
}

@keyframes show {
  0% {
    color: white;
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }
  100% {
    color: #41704c;
  }
}
