.Button {
  margin: 10px;
  width: 100px;
  height: 60px;
  background: linear-gradient(#ce253c, #ce253c, white, white, #41704c, #41704c);
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
