.Header__App-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  padding: 100px 0;
  background-image: linear-gradient(
    90deg,
    #41704c,
    #41704c,
    #41704c,
    #41704c,
    #41704c,
    #41704c,
    #76ce8a,
    #41704c,
    #41704c,
    #41704c,
    #41704c,
    #41704c,
    #41704c
  );
  background-size: 300%;
  animation: flag 1s ease-in;
  animation-iteration-count: initial;
}

@keyframes flag {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.spaced {
  text-align: center;
  letter-spacing: 1.4em;
}
.links {
  color: white;
  opacity: 100%;
  animation: text 3s ease-in;
  animation-iteration-count: initial;
}
.user-name {
  padding: 0px 20px;
}

@keyframes text {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.spaced {
  text-align: center;
  letter-spacing: 1.3em;
}
.links,
.user-links {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.user-links:nth-last-of-type(2) {
  margin-right: 10px;
}

.user-links {
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #ce253c;
}

.Header__logged-in,
span {
  margin-top: 10px;
}

.logout {
  position: absolute;
  top: 12px;
  width: 32px;
  height: 32px;
}
.logout:hover::before,
.logout:hover::after {
  background-color: #ce253c;
}
.logout::before,
.logout::after {
  position: absolute;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: #41704c;
}
.logout::before {
  transform: rotate(45deg);
}
.logout::after {
  transform: rotate(-45deg);
}

.user-links:hover,
.user-links:active,
.Header__logged-in {
  color: #41704c;
  font-weight: 900;
}

.user-links:hover,
.user-links:active,
.Header__not-logged-in {
  color: #41704c;
  font-weight: 900;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .Header__App-title {
    padding: 60px 0;
  }
}
